* {

    margin-bottom: 0;
    caret-color: transparent;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #333;

}

html {

    scroll-behavior: smooth;

}

div {

    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

a {

    color: unset;

}

header a {

    text-decoration: none;

}

.content {


    justify-content: start;

    height: 2350px;

}


    @media (min-width:495px) {

        .content {

            height: 2160px;
        
        }

    }

    @media (min-width:800px) {

        .content {

            height: 1450px;
        
        }

    }


h1 {

    font-size: 1.5rem;

}   

    @media (min-width:398px) {

        h1 {

            font-size: 1.6rem;
        
        }

    }

    @media (min-width:645px) {

        h1 {

            font-size: 2rem;
        
        }

        .cristobalcaayao {

            display:none;

           }

    }

    @media (max-width:644px) {

        .cristobal {
            display: none;
        }

    }


    .h1 > span > span {

        font-weight: 700;

    }

                .cristobal > span , .cristobalcaayao > span {

                    font-weight: 700;

                }


h2 {

    padding: 0px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: start;

}

header {

    display: flex;
    Width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
    align-items: center;
 
    padding-bottom: 40px;

}

header::after {

    position: absolute;
    content:"";
    height: 100%;
    width: 100%;
    inset: 0;
    background: linear-gradient(to bottom, white 55%, rgba(0,0,0,0));
    z-index: -1;


}



       @media (max-width:830px) {



       }

           @media (max-width:644px) {

               #header-name {

                   display: none;
               }

               


           }




        .navbar {
            padding: 10px;
            margin-right: 5vw;
        }
        
        .menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
        }
        

        
        .menu a {
            display: block;
        }
        
        /* Dropdown Styles */
        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 150px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }
        
        .dropdown-content li {
            width: 100%;
        }
        
        .dropdown-content a {
            color: black;
            padding: 10px;
            display: block;
        }
        
        .dropdown-content a:hover {
            background: #ddd;
        }
        
        /* Show dropdown on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        /* Animation */
        .dropdown-content {
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
        
        .dropdown:hover .dropdown-content {
            opacity: 1;
            transform: translateY(0);
        }












ul {

    padding-left: 0;

}


li {

    list-style-type: none;
    cursor: pointer;

}

.parent {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.child {

    display:flex;
    position: absolute;
    align-items: center;
    justify-content:center ;

}

.left-align {

    justify-content: start !important;
    align-items: start !important;

}

.right-align {

    justify-content: end !important;

}





    


.max-width {

    width: 100%;
    align-items: start;

}

    @media (min-width:644px) {

        .desktop-flex-row {

            flex-direction: row;

        }

    }    








.page-title {

    max-width: 560px;
    text-align: left;
    top: 25vh;
    margin-right: 70px;
    cursor: default;
    line-height: 1.6em;

}

    @media (max-width:644px) {

        .page-title {

            top:19%;
            
        
        }

    }

    @media (max-width:390px) {


    }

.title {

    font-size: 1.6em;

}

    @media (min-width:390px) {

        .title {

            font-size: 1.6em;
        
        }

    }

    @media (min-width:644px) {

        .title {

            font-size: 2em;
        
        }

    }


    #more-about-me {

        text-decoration: underline;
        color: #7586a9 !important;

    }
   

.left-page-margin {

    margin-left: 14vw;

}


    .project-thumbnail-container {

        align-items: start;
        gap: 7vmin;
        top: 193%;
        left: 0;
        width: 100vw;
        overflow: hidden;
        position: absolute;
        margin-top: 25px;
        transition: 300ms ease-in;
    
    }


        
    
            @media (min-width: 800px) {

                .project-thumbnail-container {
    
                    left: 14vw !important;
                    width: 74vw !important;
                    gap: 2vmin;
                
                }     
    
                .project-thumbnail-container > div {
    
                    flex-direction: row ;
                
                }       
    
            }
            
            .project-thumbnail-container a {

                font-size: 0.8em !important;
                text-decoration: underline !important;
                color: #7586a9 !important;
            
            }


nav {

    display: flex;
    
    margin-left: auto;
    align-items: center;
    padding-right: 5vw;
    font-size: 0.8em;
    gap:4px;
    width: 35vw;
    justify-content: space-between;
}
        
        @media (max-width:800px) {
            
            nav {

                width: 50vw;
                right: 0;
                padding: 0 5vw;
                justify-content: center;

            }


        }
    
        @media (max-width:644px) {
    
            nav {
    
                width: 100%;
                right: 0;
                padding: 0 5vw;
                justify-content: center;
    
            }
    
    
        }
    

        nav ul {

            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            width: 100%;

        }

        nav li {

            flex: 1;
            padding: 0;
            font-size: 1.2em;
            justify-content: center;
            align-items: center;
            transition: 100ms;
            min-width: 90px;

        }

            .menu > li:hover {

                color: #7586a9;

            }

        .submenu li:hover {

            color: #7586a9;

        }

        .menu li:hover .submenu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }

   




.gradient {

    height: 120vh;
    width: 100%;
    position: relative;
    inset: 0;
    overflow: hidden;
    border: 50px;
    top: -20%;
    left: 0;
    scale: 100%;

}

.gradient div {

    position: absolute;
    border-radius: 50%;
    animation: meshGradient 4s infinite;
    inset: 0;
    margin: auto;
    pointer-events: none;

}

@keyframes meshGradient {

    70% {

        transform: scale(1.2) translate(50px);

    }

}


.gradient div:nth-child(1) {

    width: 20%;
    height: 30%;
    background-color: rgb(188, 224, 255);
    left: 31%;
    top: -27%;
    animation-delay: 0;


}

.gradient div:nth-child(2) {

    width: 20%;
    height: 30%;
    background-color: magenta;
    left: 74%;
    top: -20%;
    animation-delay: 8s;


}

.gradient div:nth-child(3) {

    width: 20%;
    height: 40%;
    background-color: cyan;
    left: 0%;
    top: 10%;
    animation-delay: 0.4s;


}

.gradient div:nth-child(4) {

    width: 25%;
    height: 30%;
    background-color: rgb(37, 105, 144);
    left: 60%;
    top: 17%;
    animation-delay: 3.2s;


}

.gradient div:nth-child(5) {

    width: 40%;
    height: 20%;
    background-color: yellow;
    left: 19%;
    top: 30%;
    animation-delay: 11.2s;


}

.gradient::after {

    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    bottom: -1px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(57px);
    backdrop-filter: blur(57px);
    

}











.see-my-projects {

    font-size: 2rem;
    bottom: 41%;
    text-align: left;
    width: 220px;
    justify-content: start;
    padding:0;

}

    @media (min-width:420px) {


    }

.see-my-projects::after {

    content: "";
    position:absolute;
    background: linear-gradient(to right, cyan, magenta, yellow);
    width: 213px;
    height: 5px;
    top: 100%;
    border-radius: 2px;

}

.see-my-projects h2 {

    padding: 0;

}









.text-box {

    background-color: black; 
    color: white;
    padding: 7px 10px; 
    display: inline-block; 
    border-radius: 5px; 
    transition: 150ms ease-in;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    margin-top: 5px;

}

    @media (max-width:350px) {

        #UXDesigner {

            max-width: 110px;

        }

        #Frontend {

            max-width: 124px;

        }

    }

.text-box:hover {

    background-color: yellow;
    color: black;

}





.recent-projects-container {

    top: 480px;
    position: absolute;
    left: 0;


}

           

    @media (min-width:400px) {

        .recent-projects-container {

            top: 62%;
        
        }

    }

    @media (min-width:644px) {

        .recent-projects-container {

            top: 60%;
        
        }

    }

    
    @media (min-aspect-ratio: 4/5) {
        @media (max-height:650px) {

            .recent-projects-container {

                top: 73%;
            
            }

        }

        @media (max-height:400px) {

            .recent-projects-container {

                top: 350px;
            
            }

        }

    }
   
    
    @media (min-height:580px) {

        .recent-projects-container {

            top: 70%;
        
        }

    }


    @media (min-height:670px) {

        .recent-projects-container {

            top: 66%;
        
        }

    }

                                            @media (min-width:9150px) {


                                                .project-thumbnail-container > div > div {

                                                    flex-direction: row;


                                                }

                                                .project-thumbnail-container > div > div > div:first-child , 
                                                .project-thumbnail-container > div > div > div:last-child {
                                                
                                                    height: 320px;


                                                }

                                                .project-thumbnail-container > div > div > div:first-child {

                                                    width: 140%;

                                                }
                                            }


 
.project-thumbnail-container div {   
    
    background-size: cover !important;
    background-position: center !important;

}
        
.project-thumbnail-container > div {

    gap: 7vmin;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    transition: 300ms ease-in;

}

    @media (min-width:800px){

        .project-thumbnail-container > div {
            gap: 2vw;
        }

    }




.project-thumbnail-container > div > div {
            
    width: 100%;
    display: flex;
    align-items: start;

}

    @media (max-width:800px) {
        .project-thumbnail-container > div > div {
                    
            align-items: center;
            left: 0;
            width: 100vw !important;

        }
    }

            .project-thumbnail-container > div > div > div:first-child {

                background-color: rgb(204, 206, 248);
                height: 80px;
                background-position: center;
                background-size: cover;
                padding: 30px;
                width: 80%;
                position: relative;

            }

                .project-thumbnail-container > div > div > div:first-child::after {


                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 12%); /* Adjust the opacity (0.4 = 40% darkening) */
                        border-radius: 10px;
                        transition: 300ms ease-in;

                }

            .project-thumbnail-container > div > div > div:last-child {

                height: 0;
                width: 100%;
                transition: 500ms ease-in;
                visibility: hidden;
                opacity: 0;
                text-align: start;

            }

                 


        .target {
            background: #ff6347 !important;
            color: white;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 10px;
            transition: 300ms ease-in;
            height: 150px;
            width: 250px;
            left: 0;

        }

                .target.active {
                    height: 200px !important;
                    width: 100% !important;
                    left: 0;

                }

                    @media(max-width:800px) {
                        
                        .target.active {

                            border-radius: 0;

                        }

                    }

                .project-thumbnail-container > div > div > div:first-child.active::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0); /* Transparent background */
                }




        .target2 {

            color: rgb(0, 0, 0);
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 10px;
            transition: 300ms ease-in;
            width: 250px;
            justify-content: start;
            align-items: start;

        }

            .target2.active {
                height: max-content !important;
                width: 100% !important;
                visibility: visible !important;
                padding: 15px 30px;
                opacity: 1 !important;
            }

                @media (max-width:800px) {

                    .target2.active {

                        padding: 15px 14vw;

                    }

                }





.project-thumbnail-container > div:nth-child(1) > div:first-child > div:first-child {

    background-image: url('Photos/JRMSwinWeb1.jpg') !important;

}

.project-thumbnail-container > div:nth-child(1) > div:last-child > div:first-child {

    background-image: url('Photos/AriseApp1.jpg') !important;

}

.project-thumbnail-container > div:nth-child(2) > div:first-child > div:first-child {

    background-image: url('Photos/ArupUoS1.jpg') !important;

}

.project-thumbnail-container > div:nth-child(2) > div:last-child > div:first-child {

    background-image: url('Photos/ThinkerArt.jpg') !important;

}


    .project-thumbnail-container h2 {

        font-size: 1.2rem;
        font-weight: 700;
        text-align: start;
 

    }


    .visit-link {

        font-weight: 700;

    }
     



.get-in-contact h2 {

    margin-top: 110px;
    font-weight: 400;
    margin-bottom: 25px;

}

 

    .get-in-contact > h2::after {


            content: "";
            background: linear-gradient(to right, cyan, magenta, yellow);
            width: 195px;
            height: 5px;
            border-radius: 2px;
            display: block;

    }

    .get-in-contact > a {

       color: #7586a9 !important;
    
    }




    .social-media {

        height: 50px;
        width: 50px;
        margin: 17px;
        padding: 0;

    }

    img {

        width: 100%;
        height: auto;
        object-position: center;
        object-fit: contain;

    }
    


    footer {

        margin-top: 150px;
        background-color: slategrey;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        
    }
    